* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

a {
    text-decoration: none;
}

/* ---HEADER--- */
header{
	background: white;
	color: black;
	padding-top: 10px;
	padding-bottom: 30px;
    min-height: 30px;
}

header #branding img{
    float: left;
    height: 33px;
    width: 131px;
    margin-left: 2%;
    margin-top: 3px;
}

header #branding li a{
    color: black;
    font-family: Product Sans;
    align-items: center;
    line-height: 45px;
}

header nav{
	float: right;
    margin-top: 10px;
    margin-right: 2%;
}

header li{
	float: left;
	display: inline;
    padding: 0 10px 0 10px;
}

header a{
	text-decoration: none;
    font-size: 18px;
    color : black;
    font-family: Product Sans;
}

header a:hover{
	color: #A75C40;
	background-color: white;
    border-radius: 10px;
    text-align: center;
}

header .search{
    margin-top: -4px;
    background-color: rgba(111,104,101,0.19);
    border: hidden;
    border-radius: 25px;
    display: flex;
    align-items: center;
}

header .search img {
    padding-top: 5px;
    padding-bottom: 5px;
    /* belum ketemu cara supaya gambar search ga seukuran search box */
}

.search input{
    background-color: rgba(111,104,101,0);
    flex: 1;
    border: none;
    outline: none;
    padding-left: 3px;
    padding-bottom: 4px;
}

.profile a {
    bottom: 8px;
}

.name {
    font-family: Product Sans;
    font-size: large;
    margin-top: 1%;
}

.name:hover {
    color: #A75C40;
    cursor: pointer;
}

.img-container{
    height: 693px;
    width: 1440px;
    position: relative;
    float: left;
}

/* ---PRODUK--- */
#produk h1{
    font-size: 48px;
    text-align: center;
    margin: 1%;
}

#produk h5{
    font-size: 24px;
    text-align: center;
    margin: 4%;
}

/* TAMBAHAN */
#produk .daftar h5{
    margin-top: 0px;
    color: #043927;
}

#produk .daftar {
    margin:100px 100px 0 100px;
    color: green;
    text-align: center;
    border-radius: 20px;
    border: 5px solid #0B6623;
    box-shadow: 1 1px 1px rgba(0,0,0,.5);
    padding: 20px;
}

#produk a{
    text-decoration: none;
    color : green;
}

#produk a:hover{
    color: #A75C40;
    background-color: white;
    text-align: center;
}
/* TAMBAHAN */

#produk .produk2{
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
    padding-bottom: 4%;
    position: relative;
}

#produk .produk2 img{
    border-radius: 20px;
    border: 7px solid #857D7D;
    box-shadow: 1 1px 1px rgba(0,0,0,.5);
    padding: 20px;
    width : 18%;
    background:black;
}

#produk .produk2 p{
    text-align: center;
}

#produk .produk2 .harga{
    color: red;
    padding-right: 10px;
}

#produk .produk2 .diskon{
    color: #857D7D;
    text-decoration: line-through;
    font-size: 13px;
}

#produk .produk2 .star{
    text-align: center;
}

#produk .produk1{
    display: inline-block;
    max-width: 100%;
    font-size: 18px;
    padding-left: 5%;
    padding-bottom: 4%;
    position: relative;
}

#produk .produk1 img{
    border-radius: 20px;
    border: 7px solid #857D7D;
    box-shadow: 1 1px 1px rgba(147, 147, 147, 0.5);
    padding: 20px;
    width : 18%;
    background:black;
}

#produk .produk1 p{
    text-align: center;
}

#produk .produk1 .harga{
    color: red;
    padding-right: 10px;
}

#produk .produk1 .diskon{
    color: #857D7D;
    text-decoration: line-through;
    font-size: 13px;
}

#produk .produk1 .star{
    text-align: center;
}

.checked {
  color: orange;
}

/* ---VIDEO--- */

.two-image{
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
}

.two-image img{
    max-width: 50%;
}

#Video video{
    margin: auto;
    display: block;
    max-width: 100%;
}

.black{
    background-color: black;
    padding: 10px;
    max-width: 100%;
}

/* ---introduction--- */
#introduction h3{
    margin: 20px;
    text-align: center;
    font-size: 24px;
}

#introduction img{
    width: 100%;
    margin: auto;
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
  padding: 20px;
}

.grid-item img{
    float: left;
    margin: 20px;
}

.grid-item p{
    font-size: 18px;
    padding-left: 20px;
}

/* ---TENTANG ONESTEP--- */
#Tentang-Onestep{
    display: 100%;
}

#Tentang-Onestep .judul img{
    margin: auto;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item2{
    grid-row-end: span 4;
}

.grid-item2 p{
    padding-top: 10px;
    padding: 10px;
    text-align: center;
}

.grid-item2 img{
    max-width: 80%;
    float: left;
    padding-right: 30px;
}

.grid-item3, .grid-item5, .grid-item7, .grid-item9 {
    text-align: right;
}

.grid-item3 img, .grid-item5 img, .grid-item7 img, .grid-item9 img {
    max-width: 100%;
}

.grid-item1 img, .grid-item4 img, .grid-item6 img, .grid-item8 img{
    max-width: 100%;
}

button{
    max-width: 100%;
    background-color: rgb(111,104,101,0.19);
    font-size: 18px;
    border-radius: 18px;
    border: none;
    outline: none;
    margin: auto;
    display: block;
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
}

button:hover{
    color: #A75C40;
    background-color: rgb(111,104,101,0.19);
    text-align: center;
}


/* ---third-show--- */
#third-show{
    margin-top: 100px;
}

#third-show h1{
    font-size: 48px;
    text-align: center;
    max-width: 100%;
}

.img-c-container{
    margin: auto;
    overflow: hidden;
}

#third-show .img-cr img{
    float: right;
    width: 50%;
    max-width: 100%;
}

#third-show .img-cl img{
    float: left;
    width: 50%;
    max-width: 100%;
}

/* ---FOOTER--- */
footer {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 180px;
    left: 0px;
    

    font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background: #FFFFFF;
}

.contact-container {
    position: relative;
    margin: auto;
    max-width: 100%;
    min-height: 135px; 
    background: #C4C4C4;
}

.contact-content {
    position: relative;
    margin-left: 100px;
}

.onestep-logo {
    width: 150px;
}

.loc-icon, .email-icon{
    width: 30px;
    display: inline;
    margin: 0px;
    margin-left: 7px;
}

.desc {
    /* sejajarin scr vertikal span sama logo nya */
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 20%;
    max-width: 30px;
    padding: 5px;
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.copyright-container {
    position: relative;
    width: 100%;
    height: 50px;
    display: inline-block;    

    background: black;

    text-align: center;
    vertical-align: middle;
    
    color: #FFFFFF;
}

.copyright {
    position: relative;
    text-align: center;
    top: 10px; /* Center copyright */
}


.help img {
    position: fixed;
    height: 30px;
    right: 10px;
    top: 15%;
    z-index: -1;
    overflow:visible;
}

@media (max-width : 1400px) {
    #testibox .box1{
        font-size: medium;
        width: 20%;
        height: 10%;
    }
}

@media (max-width : 1100px) {
    header{
        background: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 70px;
    }
}

@media (max-width : 930px) {
    header{
        background: white;
        color: black;
        padding-top: 10px;
        /* padding-bottom: 30px; */
        min-height: 60px;
    }

    header #branding img{
        float: left;
        height: 22px;
        width: 88px;
        margin-left: 4%;
        margin-top: 10px;
    }
    
    header #branding li a{
        color: black;
        font-family: Product Sans;
        align-items: center;
        line-height: 45px;
        font-size: medium;
    }

    header nav img{
        width: 25px;
        height: 25px;
    }

    .name {
        font-family: Product Sans;
        font-size: medium;
        margin-top: 1%;
    }
}

@media (max-width : 354px) {
    header #branding img{
        float: left;
        height: 15px;
        width: 66px;
        margin-left: 4%;
        margin-top: 13px;
    }
    
    header #branding li a{
        color: black;
        font-family: Product Sans;
        align-items: center;
        line-height: 45px;
        font-size: small;
    }
    header nav img{
        width: 20px;
        height: 20px;
    }

    .name {
        font-family: Product Sans;
        font-size: small;
        margin-top: 1%;
    }
}