header {
  display: inline;
}

body {
  font-family: sans-serif;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  position: sticky;
  top: 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

h2 {
    color: #00a2c6;
}
  
h3 {
color: #00a2c6;
}

.banner {
  width: 80%;
}

footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6
}